.ax-section.featured-blog {
  margin-top: 0; }
  .ax-section.featured-blog .ax__heading-container {
    text-align: center;
    gap: 2.4rem; }
    @media (min-width: 1200px) {
      .ax-section.featured-blog .ax__heading-container {
        margin-bottom: 7.2rem; } }
  .ax-section.featured-blog .ax__heading {
    font-weight: 700;
    letter-spacing: -0.03em;
    line-height: 0.8em;
    font-size: calc(var(--font-heading-scale) * 2.5rem); }
    @media (min-width: 1200px) {
      .ax-section.featured-blog .ax__heading {
        font-size: calc(var(--font-heading-scale) * 12.5rem); } }
    .ax-section.featured-blog .ax__heading p {
      margin: 0; }
  .ax-section.featured-blog .ax__text {
    color: #858585; }
    @media (max-width: 767.98px) {
      .ax-section.featured-blog .ax__text {
        max-width: 70%;
        margin: auto; } }
  .ax-section.featured-blog .ax__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem; }
  .ax-section.featured-blog .ax__heading,
  .ax-section.featured-blog .ax__btn,
  .ax-section.featured-blog .ax__text {
    width: 100%; }
    .ax-section.featured-blog .ax__heading p,
    .ax-section.featured-blog .ax__btn p,
    .ax-section.featured-blog .ax__text p {
      margin: 0; }
  .ax-section.featured-blog .blog__posts {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(17, 17, 17, 0.1); }
    @media (max-width: 1199.98px) {
      .ax-section.featured-blog .blog__posts {
        overflow: visible; } }
    .ax-section.featured-blog .blog__posts .blog__post:last-child .article-card-wrapper {
      border-right-color: transparent; }
    .ax-section.featured-blog .blog__posts .blog__post.blog__post--highlight {
      background: #F0EBE8; }
    .ax-section.featured-blog .blog__posts .blog__post .article-card-wrapper {
      position: relative;
      display: block;
      overflow: hidden;
      padding: 2.4rem 2.7rem;
      border-right: 1px solid rgba(17, 17, 17, 0.1);
      text-decoration: none;
      color: #858585; }
      @media (max-width: 767.98px) {
        .ax-section.featured-blog .blog__posts .blog__post .article-card-wrapper {
          padding: 1.45rem 1.2rem; } }
    @media (min-width: 1200px) {
      .ax-section.featured-blog .blog__posts.one_slide .article-card {
        display: flex;
        align-items: center; }
        .ax-section.featured-blog .blog__posts.one_slide .article-card > div {
          width: 50%; } }
    .ax-section.featured-blog .blog__posts .blog__view-all {
      margin: 0 auto; }
  @media (max-width: 767.98px) {
    .ax-section.featured-blog swiper-component .swiper {
      overflow: visible; } }
  .ax-section.featured-blog swiper-component .blog-btn-swiper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px; }
    @media (min-width: 1200px) {
      .ax-section.featured-blog swiper-component .blog-btn-swiper {
        justify-content: space-between; } }
    @media (max-width: 991.98px) {
      .ax-section.featured-blog swiper-component .blog-btn-swiper {
        margin-top: 30px; } }
    .ax-section.featured-blog swiper-component .blog-btn-swiper .swiper-button-prev,
    .ax-section.featured-blog swiper-component .blog-btn-swiper .swiper-button-next {
      position: initial;
      margin-top: 0; }
      @media (max-width: 1199.98px) {
        .ax-section.featured-blog swiper-component .blog-btn-swiper .swiper-button-prev,
        .ax-section.featured-blog swiper-component .blog-btn-swiper .swiper-button-next {
          display: none; } }
      .ax-section.featured-blog swiper-component .blog-btn-swiper .swiper-button-prev svg *,
      .ax-section.featured-blog swiper-component .blog-btn-swiper .swiper-button-next svg * {
        stroke: #000; }
    .ax-section.featured-blog swiper-component .blog-btn-swiper .blog__button {
      margin-top: 0; }

