.ax-section.featured-product .featured-product-content {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none; }
  @media (min-width: 992px) {
    .ax-section.featured-product .featured-product-content {
      display: flex;
      align-items: center;
      justify-content: center; } }
  .ax-section.featured-product .featured-product-content .left-part,
  .ax-section.featured-product .featured-product-content .right-part {
    width: 100%; }
    @media (min-width: 992px) {
      .ax-section.featured-product .featured-product-content .left-part,
      .ax-section.featured-product .featured-product-content .right-part {
        max-width: 50%; } }
  @media (max-width: 991.98px) {
    .ax-section.featured-product .featured-product-content .left-part {
      margin-bottom: 60px; } }
  .ax-section.featured-product .featured-product-content .left-part .ax-heading {
    letter-spacing: -0.03em;
    font-weight: 700;
    font-size: calc(var(--font-heading-scale) * 3.5rem);
    text-align: center;
    text-transform: uppercase;
    line-height: 1em;
    margin-bottom: 130px; }
    @media (max-width: 991.98px) {
      .ax-section.featured-product .featured-product-content .left-part .ax-heading {
        font-size: calc(var(--font-body-scale) * 2rem);
        margin-bottom: 60px; } }
  .ax-section.featured-product .featured-product-content .left-part featured-product img {
    max-height: 120px;
    -o-object-fit: contain;
       object-fit: contain; }
  .ax-section.featured-product .featured-product-content .left-part .swiper-arrows-product {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px; }
    .ax-section.featured-product .featured-product-content .left-part .swiper-arrows-product .swiper-button-next,
    .ax-section.featured-product .featured-product-content .left-part .swiper-arrows-product .swiper-button-prev {
      position: relative; }
    .ax-section.featured-product .featured-product-content .left-part .swiper-arrows-product .swiper-button-next {
      right: -10px; }
    .ax-section.featured-product .featured-product-content .left-part .swiper-arrows-product .swiper-button-prev {
      left: -10px; }
    .ax-section.featured-product .featured-product-content .left-part .swiper-arrows-product .feature-product-title {
      font-size: calc(var(--font-body-scale) * 1.8rem);
      letter-spacing: -0.03em;
      font-weight: 500; }
      @media (max-width: 991.98px) {
        .ax-section.featured-product .featured-product-content .left-part .swiper-arrows-product .feature-product-title {
          font-size: calc(var(--font-body-scale) * 1.5rem); } }
  .ax-section.featured-product .featured-product-content .right-part {
    position: relative;
    border-radius: 5px; }
    .ax-section.featured-product .featured-product-content .right-part::after {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 125%; }
    .ax-section.featured-product .featured-product-content .right-part img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      -o-object-fit: cover;
         object-fit: cover;
      opacity: 1;
      transition: all 0.2s ease-in-out; }
    .ax-section.featured-product .featured-product-content .right-part.fade {
      animation: fade 1s; }

