@media (min-width: 992px) {
  .header--center-left-burger,
  .header--center-left {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    padding-bottom: 2rem !important; }
    .header--center-left-burger .header__inline-menu,
    .header--center-left .header__inline-menu {
      margin-top: 0 !important; } }

@media (min-width: 992px) {
  .header--left-center {
    grid-template-areas: 'heading navigation icons';
    grid-template-columns: 1fr auto 1fr; }
    .header--left-center .header__inline-menu {
      margin-top: 0 !important; } }

@media (min-width: 992px) {
  .header--center-left,
  .header--center-left-burger {
    grid-template-areas: 'navigation heading icons';
    grid-template-columns: 1fr auto 1fr; } }

@media (min-width: 992px) {
  .header--center-left-burger .header__inline-menu,
  .header--center-left-burger header-drawer .menu-drawer__account {
    display: none; }
  .header--center-left-burger header-drawer .list-social {
    margin-top: 0; } }

.overflow-hidden-desktop {
  overflow: hidden; }

#shopify-section-header .header__heading-logo {
  transition: opacity .2s ease; }
  #shopify-section-header .header__heading-logo.contrast {
    position: absolute;
    visibility: hidden;
    opacity: 0; }

#shopify-section-header .header-wrapper {
  transition: all .3s ease-in-out; }
  #shopify-section-header .header-wrapper.transparent:not(.transparent-menu-open) {
    padding-top: 0 !important; }
    #shopify-section-header .header-wrapper.transparent:not(.transparent-menu-open).has-logo-contrast .header__heading-logo {
      opacity: 0;
      visibility: hidden;
      position: absolute; }
      #shopify-section-header .header-wrapper.transparent:not(.transparent-menu-open).has-logo-contrast .header__heading-logo.contrast {
        opacity: 1;
        visibility: visible;
        position: initial; }
  #shopify-section-header .header-wrapper .cart-count-bubble {
    background-color: var(--color-primary);
    color: #F0EBE8; }

#shopify-section-header.sticky-desktop .header-wrapper.transparent:not(.transparent-menu-open) {
  padding-top: 0 !important; }
  #shopify-section-header.sticky-desktop .header-wrapper.transparent:not(.transparent-menu-open) .header__heading-logo {
    opacity: 1;
    visibility: visible;
    position: initial; }
    #shopify-section-header.sticky-desktop .header-wrapper.transparent:not(.transparent-menu-open) .header__heading-logo.contrast {
      opacity: 0;
      visibility: hidden;
      position: absolute; }

#shopify-section-header.sticky-desktop .header-wrapper .cart-count-bubble {
  background-color: var(--color-primary);
  color: #F0EBE8; }

#shopify-section-header.sticky-desktop .header-wrapper .header__menu-item.separator {
  background: var(--color-primary); }

@media (max-width: 991.98px) {
  #shopify-section-header.shopify-section-header-sticky .header-wrapper.transparent:not(.transparent-menu-open) {
    padding-top: 0 !important; }
    #shopify-section-header.shopify-section-header-sticky .header-wrapper.transparent:not(.transparent-menu-open) .header__heading-logo {
      opacity: 1;
      visibility: visible;
      position: initial; }
      #shopify-section-header.shopify-section-header-sticky .header-wrapper.transparent:not(.transparent-menu-open) .header__heading-logo.contrast {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        width: 0; }
    #shopify-section-header.shopify-section-header-sticky .header-wrapper.transparent:not(.transparent-menu-open) .cart-count-bubble {
      background-color: var(--color-primary);
      color: #F0EBE8; } }

#shopify-section-header:not(.menu-open):not(.sticky-desktop) .header-wrapper.transparent:not(.transparent-menu-open) {
  z-index: 10;
  width: 100%;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px); }
  @media (min-width: 992px) {
    #shopify-section-header:not(.menu-open):not(.sticky-desktop) .header-wrapper.transparent:not(.transparent-menu-open) {
      background: transparent; } }
  #shopify-section-header:not(.menu-open):not(.sticky-desktop) .header-wrapper.transparent:not(.transparent-menu-open) svg {
    transition: all .2s ease; }

@media (max-width: 991.98px) {
  #shopify-section-header.shopify-section-header-hidden .header-wrapper.transparent:not(.transparent-menu-open) {
    transform: translateY(-100%); } }

@media (max-width: 991.98px) {
  #shopify-section-header:not(.shopify-section-header-sticky) .header-wrapper.transparent:not(.transparent-menu-open) {
    background: transparent; } }

@media (max-width: 991.98px) {
  #shopify-section-header .header__icons {
    margin-right: -.5rem; } }

#shopify-section-header .header__icons .header__icon .cart-count-bubble {
  line-height: 17px; }
  #shopify-section-header .header__icons .header__icon .cart-count-bubble span {
    font-size: calc(var(--font-body-scale) * 1.3rem); }

@media (max-width: 991.98px) {
  #shopify-section-header .header__icon .icon {
    width: 2.3rem;
    height: 2.3rem; }
    #shopify-section-header .header__icon .icon.icon-hamburger {
      height: 1.6rem; }
    #shopify-section-header .header__icon .icon.icon-close {
      height: 1.7rem; } }

#shopify-section-header .search-modal svg {
  color: var(--color-primary) !important; }

#shopify-section-header .search-modal .search__button svg {
  margin-top: -5px; }

#shopify-section-header .header__inline-menu .header__menu-item a {
  color: currentColor;
  text-decoration: none; }

#shopify-section-header .header__inline-menu .mega-menu__content .mega-menu__list .mega-menu__link.mega-menu__link--level-2 {
  font-size: calc(var(--font-body-scale) * 1.5rem);
  font-weight: 500;
  line-height: 1.1em; }

#shopify-section-header .header__inline-menu .mega-menu__content .mega-menu__list .mega-menu__link.mega-menu__link--level-3 {
  color: #858585;
  line-height: 1.4em; }

#shopify-section-header .header__inline-menu .mega-menu__content .mega-menu__list .mega-menu__content__end {
  display: flex;
  align-items: center;
  gap: 4.8rem; }

#shopify-section-header .header__menu-item.separator {
  display: block;
  width: 1px;
  height: 14px;
  background: #FEFEFE;
  opacity: .2;
  padding: 0;
  margin: 0 5px;
  transition: all 0.2s ease-in-out; }

